section{
    padding:  3rem;
    background-color: #dedede;
    margin: 2rem;
}
section p{
    animation-name: mostrar; /* mostrar é um nome que vc escolhe */
    animation-duration: 2s; /* pode ser em segundos ou milisegundos 'ms' */
    animation-delay: 2s; /* tempo pra começar a interação */
    animation-iteration-count: infinite; /* POR FAVOR NUNCA FAZER ISSO!! */
}
/* ESTUDAR SOBRE MICROINTERAÇÕES!! */
@keyframes mostrar{
    /*
     - posso usar em varias marcações
     - é possivel fragmentar em varias porcentagens
    
    */
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    50%{
        opacity: 1;
        transform: translateX(0px);
    }
    75%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1; /* transparencia */
        transform: translateX(0); 
    }
}